
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xs-12">
        <div class="btn-group" rkmDropdown>
          <button type="button" class="btn btn-primary dropdown-toggle" >Manage Recipe<span class="caret"></span> </button>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer" (click)="onAddToShoppingList()">Add to Shopping List</a> </li>
            <li><a href="#">Edit Recipe</a> </li>
            <li><a href="#">Delete Recipe</a> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-lg-8 col-xs-12">
        <h3 class="list-group-item-heading recipedName" >{{recipe.name}}</h3>
         <span>
           <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-responsive recipeImg" />

        </span>
        <p class="list-group-item-text recipeDescription">{{recipe.description}}</p>

      </div>
    </div>
  </div>
  <div class="row ">

    <div class="col-md-10" >
      <hr >
      <span class="ingHeaderTxt">Ingredients</span>

      <ul class="list-group ingredientsList">
        <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients; let idx = index">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          {{ingredient.ingredientName}}: {{ingredient.ingredientAmount}}
        </li>
      </ul>
    </div>
  </div>



