
<div class="container">
  <h3>Edit Server</h3>
  <div class="row">
    <div class="col-md-5">

      <div class="form-group">
        <label for="name">Server Name</label>
        <input id="name" type="text" class="form-control" [(ngModel)]="servername" />
      </div>
      <div class="form-group">
        <label for="status">Server Status</label>
        <select id="status"  class="form-control" [(ngModel)]="serverstatus">
          <option value="online">Online</option>
          <option value="offline">Offline</option>
        </select>
      </div>
      <button class="btn btn-warning" (click)="onUpdateServer()">Update Server</button>
    </div>

  </div>
</div>

