


    <div>
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['/servermanager']" >Home</a></li>
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['/servers']" >Servers</a></li>
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['/users']"
        >Users</a></li>
      </ul>

    </div>
      <rkmapp-server-manager-home></rkmapp-server-manager-home>
    <router-outlet></router-outlet>

